
body{
	background-color: blue;
} 

.images {
	height:300px;
	width:300px;
} 

.button9 {
	height: 100px;
	width: 300;
	font-size: 30px;
} 

#firstButton {
	font-family: "serif","monospace";
	background-color: purple;
} 

#secondButton {
	font-family:"cursive","fantasy";
	background-color: pink;
	
} 

#thirdButton {
	font-family: "system-ui", "fangsong";
	background-color: orange;
} 

.list9 {
	background-color: white;
	font-size: 50px;
	
}