body {
	background-color: blue;
}
img {
	height: 150px;
	width: : auto;
}
.button1 {
	font-family: Courier;
}
.button2 {
	font-family: Georgia;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black);
  text-align: center;
}
 ul {
 	background-color: white;
 }
