body {
	background-color: blue;
	text-align: center;
}

img {
	height: 350px;
	width: 300px;
}

#b1 {
font-family: arial;
background-color: green;
border: none;
}

#b2 {
	font-family: tahoma;
	background-color: red;
	border: none;	
}

a {
	color: black;
}