<style type="text/css">
	body{
		background-color: blue;
		color:white;
	}
	.button1{
		font-family: Times-New-Roman,cambria;
	}
	.button2{
		font-family: Vintage,cambria;
	}
	footer{
		font-size: 10px;
	}
</style>
